# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtualenv
venv/
backend/.venv/

# Node
frontend/node_modules/
frontend/dist/
.npm-cache/
.npm-global/

# Env files
.env
backend/.env
frontend/.env

# Notebook
.ipynb_checkpoints/
.jupyter_data/
.jupyter_runtime/
.jupyter_config/

# OS
.DS_Store
Thumbs.db
