APP_NAME=Apriori Engine API
APP_ENV=development
DEBUG=false
# Default aman untuk local tanpa setup Postgres:
DATABASE_URL=sqlite:///./apriori_local.db
# Contoh jika pakai PostgreSQL:
# DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/apriori_db
CORS_ORIGINS=http://localhost:5173
